/* Stili CSS Modules del componente Card */

/* Ombra nella card */
#idcards {
    box-shadow: 3px 5px 15px 1px #ccc;
}

/* Tag img responsive */

img {
    height: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1.5;
    /* object-fit: cover; */
}