.pageBtn {
    background-color: #c6a664;
    color: black;
}

.active {
    background-color: #c6a664 !important;
    color: black !important;
    font-weight: bold;
}

.dark {
    color: black !important;
}