* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

.center-cards {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
CARD DETAIL REVIEW
*/
.card-detail-review {
    white-space: nowrap;
}
.small-text{
    font-size: .8em;
}

header{
    height: 50px;
    z-index: 600;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
main{
    margin-top: 50px;
    padding: 40px 0px;
    width: 100vw;
    height: calc(100vh - 100px ) ;
    overflow-y: scroll;
}
footer{
    height: 50px;
    z-index: 599;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.hamburgo-right{
    position: fixed;
    top: 50px;
    right: 0px;
    z-index: 599;
    display: block;
    background-color: #E2E3E5;
    margin-right: 15px;
    padding: 10px;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-icon {
    color: teal;
    font-size: 5rem;
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}